
form{
    background-color: blueviolet;

}
body{
        
    background-color:cyan;
    text-align:"center";
}
#h1 {color:crimson;
    border-style:dotted;
    font-size: 40px;
    border-width: 8pt;
    margin-top: 9px;
    margin-bottom: 10px;
    opacity:0.9;
text-align:"center";
    }

<h1>

</h1>
